*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    height: 75px;
    background-color: #1f2937;
    
}

h1{
    font-size: 48px;
    color: white;
    margin-left: 20px;
}
a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.head-links{
    display: flex;
    gap: 30px;
    width: 300px;
    margin-top: 20px;
    font-size: 18px;
}
.upper-body{
    height: 500px;
    background-color: #1f2937;
    justify-content: center;
    color: white;
}
img{
    height: 400px;
    width: 600px;
}
.upper-text{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 50px;
}
.upper-header{
    font-weight: bold;
    font-size: 40px;
    
}